
$icon-hosp-bg: #FFFFFF;
$icon-hosp-fg: #7AB317;

/* Navigation bar */

.navbar {
  --bs-navbar-color: white;
  --bs-navbar-hover-color: #FFFFFFAA;
  --bs-navbar-disabled-color: #FFFFFF80;
  --bs-navbar-active-color: white;
  --bs-navbar-brand-color: white;
  --bs-navbar-brand-hover-color: #FFFFFFAA;
}

.bslib-sidebar-layout > .sidebar {
  --_sidebar-bg: #79baf130;
}

/* Select input: prevent item from overlapping with dropdown arrow */
.selectize-input.items.has-options.full.has-items > .item {
  padding-right: 1rem;
}

/* Cards */
.card {
  --bs-card-cap-bg: #626f7d;
  --bs-card-cap-color: white;
}

/* Row and card heights (Cluster page) */
.overview-tbl {
  height: calc(100vh - 145px);
}

.map-zip-row {
  height: calc(calc(100vh - 220px) * .6);
}

.clust-tbl-row {
  height: calc(calc(100vh - 220px) * .37);
}

/* Hospital legend marker, adapted from https://css-shape.com/plus/ */
.plus {
  height: 12px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 1px inset $icon-hosp-fg;
  border-image: conic-gradient($icon-hosp-fg 0 0) 50%/calc(50% - 1px);
  background-color: $icon-hosp-bg;
}

.plus-legend {
  height: 12px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 1px inset $icon-hosp-fg;
  border-image: conic-gradient($icon-hosp-fg 0 0) 50%/calc(50% - 1px);
  background-color: $icon-hosp-bg;
  margin: 4px;
}

/* Modify reactable scroll bar */
.rt-table {
  padding-right: 10px;
}

/* Cluster tab titles */
.cluster-tab-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}
