
$sidebar-bg: #ebf5f3;
$card-head-bg: #fcfcde;
$icon-hosp-bg: #FFFFFF;
$icon-hosp-fg: #7AB317;

.sidebar {
  background-color: $sidebar-bg !important;
}

.card-header {
  background-color: $card-head-bg;
}

/* Row and card heights (Satscan page) */
.overview-tbl {
  height: calc(100vh - 145px);
}

.map-zip-row {
  height: calc(calc(100vh - 220px) * .6);
}

.clust-tbl-row {
  height: calc(calc(100vh - 220px) * .37);
}

/* Hospital legend marker, adapted from https://css-shape.com/plus/ */
.plus {
  height: 12px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 1px inset $icon-hosp-fg;
  border-image: conic-gradient($icon-hosp-fg 0 0) 50%/calc(50% - 1px);
  background-color: $icon-hosp-bg;
}

.plus-legend {
  height: 12px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 1px inset $icon-hosp-fg;
  border-image: conic-gradient($icon-hosp-fg 0 0) 50%/calc(50% - 1px);
  background-color: $icon-hosp-bg;
  margin: 4px;
}

/* Modify reactable scroll bar */
.rt-table {
  padding-right: 10px;
}

/* Cluster tab titles */
.cluster-tab-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}
