
.card-header {
  background-color: #fcfcde;
}

.overview-tbl {
  height: calc(100vh - 150px);
}

.map-zip-row {
  height: calc(calc(100vh - 150px) * .6);
}

.clust-tbl-row {
  height: calc(calc(100vh - 150px) * .37);
}

